.nav-link{
    font-weight: 700;
    color: #1f1534;
    opacity: 0.5;
    margin-left:15px;
}
.nav-link:hover {
    color:#1f1534 !important;
    opacity: 1;
}
.navbar{
    padding: 0.5rem 0 !important;
}

@media only screen and (max-width: 992px) {
 .nav-link{
    margin-left:0;
 }   
}