
  
  .navbar-show {
    top: 0;

  }
  
  .navbar-hide {
    top: -100px;
  }
  
.nav-link{
    font-weight: 700;
    color: #1f1534;
    opacity: 0.5;
    margin-left:15px;
}
.nav-link:hover {
    color:#1f1534 !important;
    opacity: 1;
}
.navbar{
    padding: 0.5rem !important;
    transition: 0.3s ease-in;
    z-index: 1000;
 position: fixed !important;
 width: 82%;
   background: #ffffff;
}

.navbtn{
border: none !important;
background: none !important;
color: black !important;
}  

@media only screen and (max-width: 992px) {
 .nav-link{
    margin-left:0;
 }   
 .navbar{
    width: 92%;

 }


.navbar-hide {
top: 0;

}
   


}