
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');


  *{
    font-family: 'Mulish', sans-serif;
    
  }
  
.row{
  margin: 0 !important;
}
.learnBtn{
  color: #458FF6;
background: #ffffff;
  font-size: 18px;
  border:2px solid #458FF6;
border-radius: 50px;
  font-weight: 700;
  padding: 12px 24px;
  
}
.section{
  margin: 5% auto;
}
.align{
  display: flex !important;
align-items: center;
}
  .consult{
    border: none;
    border-radius: 50px;
    background: #458ff6;
    color: white;
    font-weight: 700;
    padding: 12px 24px;
  }
  .hero-section{
    margin: 8% auto;
  }
  .virt{
    width: 80%;
  }
  .heroImg{
    width: 100%;
  }
  .heroPara{
    color: #7D7987;
    line-height: 32px;
    font-size: 18px;
  }
  .herovirtual{
    font-weight: 700;
    font-size: 48px;
  }
  .service{
    margin: 5% auto !important;
  }
.card-main{
  position: relative;
  box-shadow: 0  2px 4px rgba(0, 0, 0, 0.2),0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
padding: 0 40px;
  height: 350px;
  margin-top: 30px;
}
.card-head{
  position: absolute;
  top: 15%;
}
.itemPara{
  color: #7D7987;
  font-weight: 300;
  position: absolute;
width: 70%;
  bottom: 5%;
}
.itemHead{
  font-size: 24px;
  font-weight: 700;
  color: #000;
  position: absolute;
  bottom: 40%;
}

/* article section styling */
.article-img{
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.artHead{
  color: #000;
font-size: 21px;
font-weight: 700;
line-height: 32px; 
}
.artPara{
  color: #7D7987;
font-size: 16px;
font-weight: 300;
line-height: 28px;
}
.card-art-body{
padding: 15px 30px;
height: 325px;

}
.artBtn{
  border: none;
  color: #458FF6;
  background: #ffffff;
font-size: 17px;
font-weight: 600;
line-height: 28px;
position: absolute;
bottom: 20px;
}
.article-main{
  box-shadow:0  2px 4px rgba(0, 0, 0, 0.2),0 4px 8px rgba(0, 0, 0, 0.1) ;
  border-radius:10px;

margin-top: 30px;
}
.man-man{
  width: 120px !important;
border-radius: 50%;

}
.slides{
  border-radius: 24px;
  padding: 100px 50px;
background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
}
.slideee{
  margin: 12% 10%;
}
.say{
padding-bottom: 20px;
 color: #ffffff;
 font-size: 48px;
 font-weight: 700;
 width: 95%;
 margin: 0 auto;
}
.founder{
  margin: 5% 0;
  color: #ffffff;
  margin-left: 10px;
}

.edward{
  font-size: 22px;
  font-weight: 700;
}
.slidePara{
  color: rgba(255, 255, 255, 0.90);

font-size: 19px;
font-weight: 400;
line-height: 30px; 
}
.slidePara p{
 margin:3%  0;
}
.circle{
  font-weight: 200;

}
.line{
  height: 4px;
  width: 50px;
 margin: 22px auto;
 background: #000;
} 
.liner{
margin: 22px 0;
}
  /* small screen */

  @media only screen and (max-width: 992px) {
  .virt{
    width: auto;
  }
  .herovirtual{
    font-size: 34px;
  }
  br{
    display: none;
  }

  .d-d{
   flex-direction: column;
  }
  .slides{
    padding: 100px 5px;
  }
 
  .slidePara{
    margin-top: 30px;
  }
  .align1{
    flex-direction: column-reverse;
  }

 }
